In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df1 = pd.read_csv('quora_dataset.csv')

In [5]:
df1.shape

(404015, 6)

In [6]:
df = df1.sample(30000)

In [13]:
df

,id,qid1,qid2,question1,question2,is_duplicate
14556,14569,29083,29084,What was the significance of the battle of Som...,What was the significance of the battle of Som...,1
33862,33891,67542,67543,What are the safety precautions on handling sh...,What are the safety precautions on handling sh...,1
356418,356705,698565,698566,I received an email from my service provider a...,Why can't I download files using torrents?,0
332418,332686,652349,652350,"My period is late 14 days, could I be pregnant?",Am 4 days late of my period date.Am I pregnent?,1
195846,196000,386852,386853,What online traveling site can I use for my trip?,"My GRE score is 301 (Q:158,V:143) and hoping T...",0
...,...,...,...,...,...,...
170193,170332,336586,336587,How will North Korea collapse?,If North Korea were to fall in the near future...,1
253615,253820,499639,499640,"If Trump gets elected, should I move to Bulgaria?",How big of a role did the media play in gettin...,0
362952,363249,711115,333015,Is the climate an hoax?,Is global warming a hoax?,1
295865,296111,581659,581660,How do I convince my sister to have sex with me?,How can I have sex with my sister?,1
221986,222158,437900,437901,How does a MOSFET touch switch work during pos...,Why do the positive and negative wires spark w...,0

In [7]:
df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
q_df = df[['question1','question2']]
q_df.head()

,question1,question2
14556,What was the significance of the battle of Som...,What was the significance of the battle of Som...
33862,What are the safety precautions on handling sh...,What are the safety precautions on handling sh...
356418,I received an email from my service provider a...,Why can't I download files using torrents?
332418,"My period is late 14 days, could I be pregnant?",Am 4 days late of my period date.Am I pregnent?
195846,What online traveling site can I use for my trip?,"My GRE score is 301 (Q:158,V:143) and hoping T..."

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
questions= list(q_df['question1']) + list(q_df['question2'])

cv =CountVectorizer(max_features = 3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [11]:
temp_df1 = pd.DataFrame(q1_arr, index=q_df.index)
temp_df2 = pd.DataFrame(q2_arr, index=q_df.index)
temp_df = pd.concat([temp_df1,temp_df2] ,axis=1)
temp_df.shape

(30000, 6000)

In [12]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
14556,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33862,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
356418,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
332418,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
195846,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170193,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
253615,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
362952,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
295865,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
221986,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
temp_df['is_duplicate'] = df['is_duplicate']

In [15]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
14556,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
33862,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
356418,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
332418,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
195846,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170193,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
253615,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
362952,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
295865,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
221986,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values ,test_size=0.2 ,random_state=1)

In [18]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score 
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.734

In [21]:
#!pip install xgboost

In [22]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)

0.7178333333333333